$themes: (
  light: (
    bodyBackgroundColor: #f8f8fa,
    headerFooterBackground: #fff,
    textColor: #000,
    toggleBackground: #dfe4ea,
    starColor: #82006f,
    starNotSelectedColor: #ffadf3,
    starBackground: linear-gradient(to right, #82006f 50%, #ffadf3 50%)
  ),
  dark: (
    bodyBackgroundColor: #222736,
    headerFooterBackground: #36394c,
    textColor: #eff2f7,
    toggleBackground: #606071,
    starColor: #FFDF00,
    starNotSelectedColor: #fff,
    starBackground: linear-gradient(to right, #f1c40f 50%, #fff 50%)
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}